/*global*/
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Lato', sans-serif;
    background-color: black;
    color: white;
} 
img{
    max-width: 100%;
}

a{
    text-decoration: none;
}
h1, h2, h3{
    text-transform: none;
}
h3{
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 700;
}
/*utilities*/
p.read-btn{
    letter-spacing: 4px;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
}
.container{
    width: 94%;
    margin: 10px auto;
}
@media(min-width:768px){
    .container{
        width: 70%;
        margin: 10px auto;}
}
.gray-text{
    color: gray;
}
.black-text{
    color: black;
}
/*menu*/
nav.menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;/*horizontally*/
    align-items: center;/*vertically*/
    height: 45px;
    background-color: white;
}
nav.menu .frame-logo{
    height: 32px;
    padding-left: 15px;
}
nav.menu a{
    color: black;
    margin-right: 30px;
}
.complete-logo, .link-news, .link-menu, .link-search{
    display: none;/*hiding elements*/
}
.link-login{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    font-weight: bold;
    letter-spacing: 3px;
}
nav.menu a.link-subs{
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 3px;
    font-weight: 900;
    letter-spacing: 3px;
    background-color: black;
    color: white;
    padding:15px 14px 12px 14px;
}
nav.menu a.link-subs:hover{
    background-color: #ffcc00;
    color: black;
}
nav.mennu a.link-arrows{
    color: black;
}
@media(min-width:768px){
    .complete-logo{
        display: block;
        height: 32px;
        padding-left: 15px;
    }
    .frame-logo{
        display: none;
    }
    .link-news{
        display: inline-block;
        font-size: 14px;
        border: bottom 2px solid #ffcc00;
    }
    .link-menu{
        display: inline-block;
        text-transform: uppercase;
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 3px;
    }
    .link-search{
        display: inline-block; 
    }
}
/*header*/
header{
    height: 240px;
}
header h1{
    display: block;
    font-size: 40px;
    font-weight: 550;
    letter-spacing: 7px;
    text-align: center;
    margin: 25px;
    text-transform: uppercase;
}
header p{
    text-align: center;
    font-size: 18px;
    display: block;
   padding: 40 0 65;
}
header .line{
    border-bottom: 2px solid #ffcc00;
    line-height: 0;
    margin: 15px auto;
    height: 4px;
    width: 35px;
}
header p span:hover{
    background-position: 0 100%;
    color:black
}
/*main-news*/
@media(min-width:768px){
    main{
        display:flex;
        flex-direction: row-reverse;
    }
}
.main-news{
    position: relative;/*the parent*/
    height: 450px;
    margin-bottom: 20px;
}
.main-news-img{
   height: 450px;
}
.main-news-text{
    position: absolute;/*the child*/
    top: 200px;
    left: 30px;
}
.main-news-img{
    overflow: hidden;
}
.main-news-img img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.main-news-text p.title{
    font-size: 32px;
    font-weight: 700;
    margin: 20px 0;
    word-spacing: 5px;
}
@media(min-width:768px){
    .news-container{
        display: flex;
        flex-direction: column;
    }
    .main-news{
        height: 400px;
        width: 620px;
        margin-bottom: 50px;
    }
}
/*secondary-news*/
.secondary-news{
    height: 450px;
    margin-bottom: 20px;
    width: 100%;
}
.secondary-news-img{
    height: 280px;
}
.secondary-news-img img{
    height: 100%;
    width: 100%;
}
.secondary-news-text{
    height: 130px;
    background-color: white;
    padding: 20px;
}
.secondary-news-text p.title{
    font-size: 22px;
    margin: 10px 0 20px 0;
    font-weight: 700;
    line-height: 1.5;
}
.secondary-news-text span{
    text-decoration: underline;
}
@media(min-width:768px){
    .secondary-news-container{
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 20px;
    }
    .secondary-news{
        height: 400px;
        margin-bottom: 10px;
        width: 300px;
    }
    .secondary-news-img{
        height: 230px;
    }
}
/*todays picks*/
h2{
    font-size: 30px;
    letter-spacing: 5px;
    border-left: 5px solid #ffcc00;
    padding-left: 20px;
    margin: 30px 0;
}
.pick-item{
    display: flex;
    justify-content: space-between;
}
.pick-item img{
    height: 80px;
    width: 80px;
}
.pick-item-text{
    flex-basis: 78%;
}
.pick-item-text p{
    font-weight: 700;
    margin-top: 10px;
}
.pick-item-text h3{
    font-weight: 700;
}